body, html {
    height: 100%;
    background-color: darkgrey;
    scroll-behavior: smooth;
}
button{
    margin-right: 0.5rem;
  }
  .example-card {
    max-width: 400px;
  }
  
  
.div1{
      
    height: 100%;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    }


     
     
      hr.new1 {
        border-top: 2px solid black;
      }
     .p {
         border: 3px;
         border-style: solid;
         border-color: black;
         padding: 1em;
         background-color: white;
     }

     .parent {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-auto-rows: minmax(500px, auto);
        grid-gap: 150px;
      }
    
        .div2 { 

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; height: 100%;}
        .div3 { border: solid black 1px;
            background-color: white;height: 100%; width: 100%;}
 
        .div4 {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
            grid-auto-rows: minmax(800px, auto);
            grid-gap: 20px;
        }
      .name {
          text-align: center;
          color: white;
          font-weight: bold;
      }
      .skills {
        text-align: center;
        color: white;
        font-weight: bold;
      }

.mat-divider {
  width: 25%;
  margin: auto;
}
#span1 {
  font-size: 24px; line-height: 1em; font-family: Muli; color: rgb(21, 47, 46); font-style: italic; font-weight: 400;
}

.center {
  margin: auto;
  text-align: center;
  border-style: solid;
  width: 90%;
  padding: 10px;
}
#hrTag {
  width: 20%; margin: auto; 
  height: 3px;
  color: black;
  background-color: black;
}
#italics {
  font-style: italic;
  line-height: 1em;
  color: rgb(21, 47, 46);
  text-align: center;
  text-emphasis: bold;
}

#infoGraphic {
  text-align: center;
  line-height: 1em;
  color: rgb(21, 47, 46);
  width: 50%;
}
.h1 {
  font-style: italic;
  color: black;

}
.newHr {
    color: black; border-top: 3px solid black;
}
.hr {
  border-top: 2px solid black;
  
}
#imgBox:hover
    {
        opacity: 0.3;
        filter: alpha(opacity=30);
    }
    .center-block {
        margin-left:auto;
        margin-right:auto;
        display:block;
     }
  

   .text {
     width: 50%; margin: auto;
   }
   #position {
    text-align: center;
   }

   dt {
       text-align: center;
       margin: auto;
   }
   dd {
    text-align: center;
    margin: auto;
   }
#padder {
  padding-bottom: 25px;
  padding-right: 25px;
}